main {
  padding: 10px;
  background-color: var(--background-color);
  background-image: url('./assets/noise.png');
  background-size: cover;
}

article {
  margin: 10px;
  padding: 10px;
  border: 0.5px solid black;
}

.portfolio__skills_display {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.portfolio__main_container {
  border: var(--main-color) 0.5px solid;
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}

.portfolio__name {
  background-color: var(--background-color);
  padding: 20px;
  p {
    color: var(--main-color);
    font-size: 2em;
  }
}

.portfolio__id {
  padding: 20px;
  p {
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 20px 0;
  }
}

.portfolio__projects {
  h2 {
    text-align: right;
    padding: 10px;
  }
  
}

.portfolio__contact {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 20px 20px 0 20px;
  height: fit-content;
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 20px;
  }
  a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 900;
    font-size: 1em;
    letter-spacing: -2px;
  }
  .portfolio__contact_link {
    font-size: 1.5em;
  }
}



@media (width >= 600px) {
  main {
    height: 96vh;
  }

  .portfolio__main_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 25vh 59vh 6vh;
  }

  .portfolio__name {
    grid-area: 1 / 1 / 2 / 1;
  }

  .portfolio__id {
    overflow-y: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    grid-area: 2 / 1 / 3 / 1;
  }

  .portfolio__projects {
    padding: 10px;
    grid-area: 1 / 2 / 3 / 2;
  }

  .portfolio__projects_grid {
    height: 70vh;
    overflow-y: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(1, 2fr);

    article:nth-child(4n + 1) {
      grid-column-start: 1;
      grid-column-end: 11;
    }
    article:nth-child(4n + 2) {
      grid-column-start: 11;
      grid-column-end: 20;
    }
    article:nth-child(4n + 3) {
      grid-column-start: 1;
      grid-column-end: 9;
    }
    article:nth-child(4n + 0) {
      grid-column-start: 9;
      grid-column-end: 20;
    }
  }
}

.portfolio__contact {
  grid-column-start: 1;
  grid-column-end: 3;
  max-height: 7vh;
}
